@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border: 1px solid red;
}

.text-blue-midnight {
    @apply text-blue-950;
}

.border-white-ghost {
    @apply border-neutral-150;
}

body {
    @apply text-gray-550;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    @apply py-4
}

p {
    @apply mb-4
}

.check:checked~.navbar {
    display: block
}

.site-title {
    @apply text-blue-750 text-3xl font-bold
}

.navbar {
    @apply font-bold absolute left-0 w-full text-center bg-white shadow-lg p-4 z-10 hidden;
}

.navbar-menu li {
    @apply self-center pb-4
}

.hero-gradient {
    @apply hidden absolute w-1/2 right-0;
    height: 65%;
    z-index: -1;
    background: rgb(11, 151, 229);
    background: linear-gradient(90deg, rgba(11, 151, 229, 1) 35%, rgba(42, 113, 222, 1) 100%);
}

.hero-img {
    background-image: url('../img/img01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    /*background: rgb(11,151,229);
    background: linear-gradient(90deg, rgba(11,151,229,1) 35%, rgba(42,113,222,1) 100%);*/
}

.hero>.container {
    @apply relative;
}

.hero>.container::before {
    @apply absolute left-4 top-0;
    z-index: -1;
    content: "";
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #f4f6fb;
}

/*
.hero > .container::after {
    @apply absolute right-0;
    top: 23%;
    content: "";
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 70px solid #f4f6fb;
    border-bottom: 70px solid transparent;
}*/

.hero-title {
    @apply text-2xl font-bold text-blue-950 mb-4
}

.hero-description {
    @apply font-medium
}

.hero-list-container {
    @apply relative;
}

.hero-list-container::after {
    @apply absolute right-0 top-0;
    content: "";
    width: 0;
    height: 0;
    border-top: 54px solid transparent;
    border-right: 54px solid #f4f6fb;
    border-bottom: 54px solid transparent;
}

.hero-list li {
    @apply mb-4
}

.hero-list-item>.hero-list-avatar {
    @apply mr-4;
}


.hero-list-item>.hero-list-title {
    @apply font-semibold text-blue-950
}

.card {
    @apply border-2 rounded border-white-ghost bg-white p-5 mb-6;
}

.card:hover {
    @apply shadow-2xl shadow-blue-100 border-none
}

.card:hover>.btn {
    @apply border-2 border-white;
    -webkit-box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
    -moz-box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
    box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
}

.card>h3 {
    @apply text-blue-midnight font-semibold text-lg py-4
}

.schedule-vax-form {
    @apply bg-white/75 border-2 border-white p-4 rounded shadow-lg;
}

.schedule-vax-list-item {
    @apply mb-4;
}

.schedule-vax-content {
    @apply grid grid-rows-4 grid-flow-col auto-cols-max;
}

.submit-button>button {
    @apply w-full
}

.section-title {
    @apply text-blue-midnight font-bold text-2xl mb-6;
}

.section-description {
    @apply font-semibold
}

.preparation-list-item {
    @apply border border-white-ghost rounded overflow-hidden mb-6;
    height: 58px;
}

.preparation-list-item.preparation-list-item-active {
    @apply shadow-lg border-none;
    height: auto !important;
}

.preparation-list-item.preparation-list-item-active>.preparation-list-content>.preparation-button-container>.preparation-button>span>i {
    @apply rotate-180 text-gray-600;
}

.preparation-list-content {
    @apply flex items-baseline px-4 py-2;
}

.icon-col {}

.preparation-title {
    @apply flex-1 ml-2;
}

.preparation-title-title {
    @apply text-blue-midnight font-semibold mb-4;
}

.preparation-button {}

.preparation-button>span>i {
    @apply text-xs
}

.card-contact:hover>.btn-call-to-action>.btn-zumthor {
    @apply btn-sapphire;
}

.footer {
    position: relative;
    z-index: 2;
}

.footer::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 16px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #e2e9f9;
}

/*********************** BUTTONS ***********************/
.btn {
    @apply px-3 rounded text-center text-base;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.btn-sapphire {
    @apply bg-blue-250 text-white font-bold shadow-md shadow-blue-300
}

.btn-yellow {
    @apply border border-amber-100 bg-amber-100 text-amber-400;
}

.btn-yellow.shadow {
    -webkit-box-shadow: 0 14px 15px -10px rgb(251, 191, 36, 0.5);
    -moz-box-shadow: 0 14px 15px -10px rgb(251, 191, 36, 0.5);
    box-shadow: 0 14px 15px -10px rgb(251, 191, 36, 0.5);
}

.btn-zumthor {
    @apply bg-blue-150 text-blue-750 font-bold;
}

.btn-zumthor.shadow {
    -webkit-box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
    -moz-box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
    box-shadow: 0 14px 15px -10px rgba(8, 41, 177, 0.5);
}

.btn-icon {
    @apply flex items-center justify-center;
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 0 !important;
}

.btn-icon-md {
    width: 3rem !important;
    height: 3rem !important;
}

.btn-icon-lg {
    width: 3.5rem !important;
    height: 3.5rem !important;
}

.btn-icon-xs {
    width: 1.562rem !important;
    height: 1.562rem !important;
}

/*********************** MEDIA ***********************/

@media screen and (min-width:768px) {
    #menu {
        display: none
    }

    .navbar {
        @apply block shadow-none relative p-0;
    }

    .navbar-menu {
        @apply grid grid-cols-4
    }

    .navbar-menu li {
        @apply self-center pb-0
    }

    .hero-gradient {
        display: block;
    }

    .hero-title {
        @apply text-4xl;
    }

    .hero-description {
        @apply mb-8
    }

    .why-should-intro {
        @apply w-1/2;
    }

    .why-cards-container {
        @apply grid grid-cols-2 gap-4;
    }

    .preparation-content {}

    .preparation>.preparation-content>.preparation-wrapper>.hero-gradient {
        height: 100%;
        left: 0;
        @apply w-1/2;
    }

    .preparation-intro {
        @apply w-1/2 ml-auto pl-4;
    }

    .hero-gradient-white {
        @apply bg-white;
        height: 30%;
    }

    .preparation-img {
        background-image: url('../img/img02.png');
        background-size: cover;
        background-position: 20% 100%;
        background-repeat: no-repeat;
        height: 80%;
        @apply absolute bottom-0 w-full;
    }

    .preparation-list {
        @apply w-1/2 ml-auto;
    }

    .card-contact-container {
        @apply grid grid-cols-2 gap-4
    }

    .card-contact-container>.card {
        @apply mb-0;
    }
}

@media screen and (min-width:1024px) {
    .navbar-menu {
        @apply grid grid-cols-5
    }

    .hero-gradient {
        height: 100%;
    }

    .hero-title {
        @apply text-6xl;
    }

    .hero-list {
        @apply grid grid-cols-2
    }

    .hero-list-container::after {
        border-top: 104px solid transparent;
        border-right: 104px solid #f4f6fb;
        border-bottom: 104px solid transparent;
        top: -82px;
    }

    .schedule-vax {
        @apply pb-4;
    }

    .schedule-vax-form {
        @apply w-3/4;
    }

    .schedule-vax-list {
        @apply grid grid-cols-4
    }

    .submit-button {
        @apply self-center
    }

    .submit-button>button {
        height: 60px
    }

    .why-should-intro {
        @apply w-1/3;
    }

    .why-cards-container {
        @apply grid grid-cols-4 gap-4;
    }

    .hero-gradient-white {
        height: 40%;
    }

    .preparation-img {
        background-size: contain;
        background-position: center;
    }
}